h3 {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.center-image-style {
    height: 300px;
}

.image-tag {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.card-container {
    background-color: #1458B5;
    width: 350px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 20px;
}

.user-post {
    display: grid;
    grid-template-columns: 50px 50px;
    /* margin: 10px; */
    column-gap: 3px;
}

.user-name {
    display: flex;
    flex-direction: column;
}


.name, .post {
    font-size: 14px;
}

.name {

    margin-top: 5px;
    font-weight: 500    ;
}

.occupation {
    margin-top: -15px;
    font-size: 12px;
    
}

.occupation, .post {
    font-weight: 300;
}

